GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
JWT_SECRET=
DATABASE_URL=postgresql://codify:codify@localhost:5432/codify
CORS_ORIGINS=http://localhost:3000
CHROMA_PERSIST_DIR=./chroma_db
FRONTEND_APP_URL=http://localhost:3000
OPENAI_API_KEY=
SQL_ECHO=false
