@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #111827; /* gray-900 */
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  input {
    color: #f9fafb; /* gray-50 */
    background-color: #1f2937; /* gray-800 */
  }
}
